.pear-date {
	display: inline-block;
	font-size: calc(var(--checkbox-size) - 0.2em);
	line-height: calc(var(--checkbox-size) - 0.2em);
	background: var(--background-primary-alt);
	border: 1px solid var(--background-secondary-alt);
	color: var(--text-muted);
	padding: 0.3em 0.6em;
	border-radius: var(--checkbox-radius);
	user-select: none;
	vertical-align: top;
	margin-right: calc(var(--checkbox-size) / 2);
}

.pear-dropdown-closed, .pear-dropdown-open {
	vertical-align: text-bottom;
}

.pear-dropdown-closed {
	transform: rotate(-90deg);
}

.pear-completed-dropdown {
	color: var(--text-faint);
	margin-top: 0 !important;
	cursor: pointer;
	user-select: none;
}

.pear-hidden {
	display: none;
}

.pear-floating {
	display: block;
}

[data-task="x"] .pear-date, [data-task=">"] .pear-date {
	/*background: var(--color-green) !important;*/
	/*color: var(--background-primary-alt) !important;*/
	color: var(--color-green) !important;
	border: 1px solid var(--background-secondary-alt) !important;
}

[data-task="-"] > :not(.list-bullet) {
	color: var(--text-faint) !important;
	pointer-events: none;
	user-select: none;
	text-decoration: line-through;
}

[data-task="-"] .pear-date {
	background: var(--background-primary-alt) !important;
	border: 1px solid var(--background-secondary-alt) !important;
}

.pear-overdue {
	color: var(--color-red);
	border: 1px solid rgba(var(--color-red-rgb), 0.2);
}

.pear-upcoming {
	color: var(--color-purple);
	border: 1px solid rgba(var(--color-purple-rgb), 0.2);
}

.markdown-preview-section {
	min-height: 1em !important;
}
