.pear-attachment {
	--status-color: var(--text-muted);
	--icon-size: 1em;
	--icon-color: var(--status-color) !important;
	position: relative;
	top: -0.1em;
	display: inline-block;
	color: var(--status-color);
	min-width: var(--checkbox-size);
	height: calc(var(--checkbox-size) + 2px);
	margin: 0 0.25em;
	font-size: var(--font-ui-smaller);
	line-height: var(--line-height-customize);
	background: hsl(from var(--status-color) h s calc(l / 10) / 20%) !important;
	border-radius: min(var(--checkbox-radius), calc(var(--checkbox-size) / 2));
	user-select: none;
	white-space: nowrap;
	padding: 0 0.5em;
	vertical-align: middle;
	margin-inline-start: 0.6em;
	gap: var(--size-4-1);
	z-index: 10;
}

.pear-error {
	--status-color: var(--text-error);
}

.pear-error:hover {
	background: hsl(from var(--status-color) h s calc(l / 10)) !important;
}

.pear-notes {
	--status-color: var(--text-normal);
	display: block;
	height: unset;
	margin: 0.5em 0;
	padding: 0.5em 1em;
	white-space: pre-wrap;
}

.pear-dropdown-closed, .pear-dropdown-open {
	vertical-align: text-bottom;
}

.pear-dropdown-closed {
	transform: rotate(-90deg);
}

.pear-completed-dropdown {
	color: var(--text-faint);
	margin-top: 0 !important;
	cursor: pointer;
	user-select: none;
}

.pear-hidden {
	display: none;
}

.pear-floating {
	display: block;
}

[data-task="x"] .pear-date, [data-task=">"] .pear-date {
	--status-color: var(--color-green) !important;
}

[data-task="-"] > :not(.list-bullet) {
	--status-color: var(--text-faint) !important;
	pointer-events: none;
	user-select: none;
	text-decoration: line-through;
}

.pear-overdue {
	--status-color: var(--color-red);
}

.pear-overdue-far {
	--status-color: var(--color-red);
	outline: 1px dashed var(--status-color);
	opacity: 0.5;
}

.pear-upcoming {
	--status-color: var(--color-purple);
}

.markdown-preview-section {
	min-height: 1em !important;
}

.status-bar-item.plugin-obsidian-pear svg {
	margin-right: 5px;
	width: 1em;
	height: 1em;
}

.pear-upcoming-list.markdown-preview-sizer *:not(.task-list-item, h1, h2, h3, h4, h5, h6, ul.contains-task-list,
[class*="data_h"], div.markdown-preview-sizer), .pear-upcoming-list .markdown-embed-link,
.pear-upcoming-list .heading-collapse-indicator {
	display: none;
}

.pear-upcoming-list .markdown-preview-section {
	min-height: 0;
}

.pear-upcoming-list .internal-embed {
	border: none !important;
	padding: 0 !important;
}

.pear-upcoming-list [class*="data_h"] {
	margin: 0 !important;
}
.pear-upcoming-list [class*="heading_h"] {
	margin: 5px 0 !important;
}

.pear-upcoming-list h1, .pear-upcoming-list h2, .pear-upcoming-list h3, .pear-upcoming-list h4, .pear-upcoming-list h5,
.pear-upcoming-list h6 {
	font-size: var(--font-ui-medium) !important;
	margin: 0 !important;
}
